@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#heading {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

#heading h1 {
    text-transform: uppercase;
}

#navigation li{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0.5em
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}