@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 260%;
    margin-left: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    background: url("../images/hero-image.webp") no-repeat center center;
    width: 100%;
    height: 600px;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 240%;
}

#club-ethos {
    height: 600px;
    margin-top: 50px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.center-about-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

#ethos-center-image {
    background: url("../images/ethos-center-image.jpg") no-repeat center -20px;
    height: 100%;
    border-radius: 50%;
}

#meetup {
    background-image: url("../images/dublin-city.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#meetup div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fff;
    box-sizing: border-box;
}

#meetup h2 {
    color: #fafafa;
}

footer {
    height: 150px;
}

#social-network {
    text-align: center;
}

#social-network li {
    display: inline;
    list-style-type: none;
}

#social-network a {
    text-decoration: none;
    color: inherit;
}

#social-network i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#gallery {
    clear: both;
    height: auto;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

#form-section {
    clear: left;
    background-image: url("../images/signup-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 900px;
    overflow: hidden;
}

#signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

#signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border: 1px solid rgb(241, 109, 107);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

@media screen and (max-width: 1140px) {
    #club-ethos {
        width: 85%;
        height: 100vh;
        margin: 0 auto;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100;
        text-align: center;
    }

    #welcome {
        padding: 30px 0;
        margin-bottom: 30px;
    }

    #left-about, #right-about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        line-height:25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 100vh;
        margin: 0 auto;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
}